@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css");

:root {
    --pico-form-element-spacing-vertical: 0.25rem;
    --pico-form-element-spacing-horizontal: 0.5rem;
}

html, body, main {
    height: 100dvh;
}

main { 
    height: 100%;
    display: flex;
    align-items: center;
}

#card {
    width: 100%;
    margin-bottom: 0px;
}

.log-box {
    background-color: #13171F;
    min-height: 200px;
    height: auto;
    max-height: 330px;
    overflow-y: scroll;
    border-radius: 6px;
    padding: 24px;
    overflow-y: auto;
}

.log {
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}